/* custom style bulk mailer */
html {
    scroll-behavior: smooth;
}

.navigation {
    background-color: #973884;
}

.btn-custom-primary,
.buttonBatal+div {
    background-color: #bf4aa8;
    border-color: #bf4aa8;
}

.btn-custom-primary:hover,
.buttonBatal+div:hover {
    background-color: #f33dcf;
}

.text-custom-primary {
    color: #bf4aa8;
}

#user_table_filter input {
    border-radius: 7px;
}

#user_table_filter label,
#user_table_info {
    color: rgba(107, 114, 128)
}

#user_table_info {
    font-size: 12.5px;
}

#user_table tr td {
    padding: 3px 10px 3px 10px;
}

#user_table tr th {
    padding: 6px 10px 6px 10px;
}

@media (max-width: 450px) {
    #user_table_filter input {
        width: 150px;
    }
}

#user_table_filter input {
    transform: translate(-5px, 3px);
    margin-bottom: 3px;
    padding-left: 25px;
}

#user_table_filter input:focus {
    border: 1px solid rgb(145, 169, 225);
}

#user_table_filter input:focus+.fa-search {
    color: rgb(145, 169, 225);
}

#user_table_filter label {
    position: relative;
}

@media (max-width: 500px) {
    #konfir p {
        font-size: 15px;
    }
}

@media (min-width: 501px) {
    #konfir p {
        font-size: 16.5px;
    }
}

.buttonBatal:hover {
    color: rgba(75, 85, 99);
    border: 1px solid rgba(75, 85, 99);
}

.buttonBatal {
    color: black;
    border: 1px solid black;
}

.popover-body {
    color: rgb(184, 122, 4);
}

.popover {
    background-color: rgb(255, 243, 205);
}

.popover .arrow::after,
.popover .arrow::after {
    border-top-color: rgb(255, 243, 205);
}

@media (max-width:700px) {
    #select-event label {
        font-size: 13px;
    }

    #select-event select {
        width: 100%;
    }

    #select-event {
        flex-direction: column;
    }

    #wrapper form {
        margin-top: -10px;
    }
}

@media (min-width:701px) {
    #select-event select {
        width: 50%;
    }

    #select-event {
        flex-direction: row;
    }
}

@media (min-width:1100px) {
    #select-event select {
        width: 70%;
    }
}

/* custom style bulk mailer */

.logo {
    width: 100%;
    height: auto;
    padding-top: 5px;
    max-width: inherit;
}

@media screen and (max-width: 576px) {
    .logo {
        width: 100%;
        height: auto;
        max-width: inherit;
    }
}

.alert-success {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.upload-btn-wrapper input[type=file] {
    opacity: 0;
}

/* #mode_toggler{
    font-size: 22px !important;
    color: #f0e609;
} */

.center {
    text-align: center !important;
}

.link_copy {
    display: inline-flex;
    width: 100%;
}

.link_copy a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
}

.link {
    font-size: 20px;
    color: #ffffff !important;
    margin-left: 10px;
    padding-top: 5px;
}

.file_button_container,
.file_button_container input {
    height: auto;
}

.file_button_container {
    background: transparent url(https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/upload-32.png) left top no-repeat;
}

.file_button_container input {
    opacity: 0;
}

.toggle {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    max-width: 140px;
    margin-top: 25px;
    font-size: 20px;
}

.toggle span {
    margin: 0 0.5rem;
}

.icon {
    padding-bottom: 8px;
}

.sun {
    color: #f0e609;
}

.moon {
    color: rgba(0, 0, 0, 0.1);
}

.toggle input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle label {
    cursor: pointer;
    width: 50px;
    height: 20px;
    background: rgba(0, 0, 0, 0.27);
    display: block;
    border-radius: 40px;
    position: relative;
}

.toggle label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 40px;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*LOADING
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modalLoad {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5) url('https://icons8.com/preloaders/preloaders/808/Fading%20fountain.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modalLoad {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalLoad {
    display: block;
}

/*datatables*/
table.dataTable thead th {
    border-bottom: 0;
}

table.dataTable.no-footer {
    border-bottom: 0;
}